@charset "utf-8";

/* =============================
   BASE
============================= */
html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    color: rgb(73, 72, 72);
    font-size: 1.6rem;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    text-align: center;
    background-image: url(../img/123.jpg);
    background-size: cover;
}

header, footer, h1, h2, h3, p, div, .container01, .filler01 {
    margin: 0.2em 0em 0em 0em;
    padding: 0.1em;
}

/* =============================
   HEADINGS
============================= */
h1 {
    font: 2em Rajdhani, "Noto Sans JP";
    color: rgb(181, 242, 252);
    background-image: radial-gradient(circle 248px at center,
        #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

h2{
    padding-left: 0.5em;
    border-left: solid 0.5em darkgray;
    text-align: left;
}

/* =============================
   PAGE WRAPPER
============================= */
.wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    text-align: center;
}

/* =============================
   SECTION
============================= */
.container01 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.5em;
    width: 80%;
    border-radius: 0.5em 1.5em;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0 0 0.5em rgb(73, 72, 72);
}

main > p {
    font: 1.2em bold;
}

/* =============================
   ANCHOR
============================= */
a {
    color: black;
    font-weight: 900;
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
    filter: grayscale(100%);
}

/* =============================
   CONTAINERS (ICON GRID)
============================= */
.container01-01,
.container01-02,
.container01-03,
.container01-04 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   /* dàn đều đẹp hơn */
    gap: 1.2em;               /* khoảng cách icon */
    font-size: 0.7em;
}

/* =============================
   ITEMS
============================= */
.item01{
    position: relative;
    width: 6em;
    height: 9em;
    line-height: 1em;
    overflow: hidden;

    background: rgba(255,255,255,0.85);
    border-radius: 1em;
    padding: 0.5em;

    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.item02{
    position: relative;
    width: 6em;
    height: 12em;
    line-height: 1em;
    overflow: hidden;

    background: rgba(255,255,255,0.85);
    border-radius: 1em;
    padding: 0.5em;

    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* Images */
.item01 img, .item02 img{
    width: 6em;
    height: auto;
}

.item01 .img_omikuji2{
    width: auto;
    height: 6em;
    overflow: hidden;
}

/* Hover effect */
.item01:hover, .item02:hover{
    transform: translateY(-0.3em) scale(1.05);
    box-shadow: 0 0.6em 1em rgba(0,0,0,0.25);
}

/* =============================
   APPEAR ANIMATION
============================= */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay xuất hiện từng icon */
.item01:nth-child(1), .item02:nth-child(1){ animation-delay: 0.1s; }
.item01:nth-child(2), .item02:nth-child(2){ animation-delay: 0.2s; }
.item01:nth-child(3), .item02:nth-child(3){ animation-delay: 0.3s; }
.item01:nth-child(4), .item02:nth-child(4){ animation-delay: 0.4s; }
.item01:nth-child(5), .item02:nth-child(5){ animation-delay: 0.5s; }
.item01:nth-child(6), .item02:nth-child(6){ animation-delay: 0.6s; }

/* =============================
   FOOTER
============================= */
footer> p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 1em Rajdhani;
    text-align: center;
    background: rgba(1, 24, 31, 0.7);
}

/* =============================
   RESPONSIVE
============================= */
@media screen and (max-width: 480px) {
    body{
        background-size: auto 1000px;
    }
}@charset "utf-8";

/* =============================
   BASE
============================= */
html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    color: rgb(73, 72, 72);
    font-size: 1.6rem;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    text-align: center;
    background-image: url(../img/123.jpg);
    background-size: cover;
}

header, footer, h1, h2, h3, p, div, .container01, .filler01 {
    margin: 0.2em 0em 0em 0em;
    padding: 0.1em;
}

/* =============================
   HEADINGS
============================= */
h1 {
    font: 2em Rajdhani, "Noto Sans JP";
    color: rgb(181, 242, 252);
    background-image: radial-gradient(circle 248px at center,
        #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

h2{
    padding-left: 0.5em;
    border-left: solid 0.5em darkgray;
    text-align: left;
}

/* =============================
   PAGE WRAPPER
============================= */
.wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    text-align: center;
}

/* =============================
   SECTION
============================= */
.container01 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.5em;
    width: 80%;
    border-radius: 0.5em 1.5em;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0 0 0.5em rgb(73, 72, 72);
}

main > p {
    font: 1.2em bold;
}

/* =============================
   ANCHOR
============================= */
a {
    color: black;
    font-weight: 900;
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
    filter: grayscale(100%);
}

/* =============================
   CONTAINERS (ICON GRID)
============================= */
.container01-01,
.container01-02,
.container01-03,
.container01-04 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   /* dàn đều đẹp hơn */
    gap: 1.2em;               /* khoảng cách icon */
    font-size: 0.7em;
}

/* =============================
   ITEMS
============================= */
.item01{
    position: relative;
    width: 6em;
    height: 9em;
    line-height: 1em;
    overflow: hidden;

    background: rgba(255,255,255,0.85);
    border-radius: 1em;
    padding: 0.5em;

    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.item02{
    position: relative;
    width: 6em;
    height: 12em;
    line-height: 1em;
    overflow: hidden;

    background: rgba(255,255,255,0.85);
    border-radius: 1em;
    padding: 0.5em;

    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* Images */
.item01 img, .item02 img{
    width: 6em;
    height: auto;
}

.item01 .img_omikuji2{
    width: auto;
    height: 6em;
    overflow: hidden;
}

/* Hover effect */
.item01:hover, .item02:hover{
    transform: translateY(-0.3em) scale(1.05);
    box-shadow: 0 0.6em 1em rgba(0,0,0,0.25);
}

/* =============================
   APPEAR ANIMATION
============================= */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay xuất hiện từng icon */
.item01:nth-child(1), .item02:nth-child(1){ animation-delay: 0.1s; }
.item01:nth-child(2), .item02:nth-child(2){ animation-delay: 0.2s; }
.item01:nth-child(3), .item02:nth-child(3){ animation-delay: 0.3s; }
.item01:nth-child(4), .item02:nth-child(4){ animation-delay: 0.4s; }
.item01:nth-child(5), .item02:nth-child(5){ animation-delay: 0.5s; }
.item01:nth-child(6), .item02:nth-child(6){ animation-delay: 0.6s; }

/* =============================
   FOOTER
============================= */
footer> p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 1em Rajdhani;
    text-align: center;
    background: rgba(1, 24, 31, 0.7);
}

/* =============================
   RESPONSIVE
============================= */
@media screen and (max-width: 480px) {
    body{
        background-size: auto 1000px;
    }
} 
