@charset "utf-8";

/* =============================
   BASE
============================= */
html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    color: rgb(73, 72, 72);
    font-size: 1.6rem;
    font-family: "Helvetica Neue", Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
    text-align: center;
    background-image: url(../img/123.jpg);
    background-size: cover;
}

/* =============================
   COMMON RESET
============================= */
header, footer, h1, h2, h3, p, div, .container01, .filler01 {
    margin: 0.2em 0 0 0;
    padding: 0.1em;
}

/* =============================
   HEADINGS
============================= */
h1 {
    font: 2em Rajdhani, "Noto Sans JP";
    color: rgb(181, 242, 252);
    background-image: radial-gradient(circle 248px at center,
        #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

h2 {
    padding-left: 0.5em;
    border-left: solid 0.5em darkgray;
    text-align: left;
}

/* =============================
   WRAPPER
============================= */
.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 23px;
}

/* =============================
   SECTION
============================= */
.container01 {
    margin: auto;
    width: 80%;
    padding-left: 0.5em;
    border-radius: 0.5em 1.5em;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 0 0 0.5em rgb(73, 72, 72);
}

/* =============================
   LINK
============================= */
a {
    color: black;
    font-weight: 900;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
    filter: grayscale(100%);
}

/* =============================
   ICON GRID
============================= */
.container01-01,
.container01-02,
.container01-03,
.container01-04 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 0.7em;
}

/* =============================
   ICON ITEM (NO FRAME)
============================= */
.item01,
.item02 {
    position: relative;
    width: 6em;
    line-height: 1em;
    overflow: hidden;

    /* ❌ KHÔNG background, KHÔNG border */
    background: none;
    border-radius: 0;
    padding: 0;

    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
    transition: transform 0.25s ease;
}

.item01 { height: 9em; }
.item02 { height: 12em; }

/* =============================
   ICON IMAGE
============================= */
.item01 img,
.item02 img {
    width: 6em;
    height: auto;
}

.item01 .img_omikuji2 {
    width: auto;
    height: 6em;
}

/* =============================
   HOVER
============================= */
.item01:hover,
.item02:hover {
    transform: translateY(-0.3em) scale(1.05);
}

/* =============================
   ANIMATION
============================= */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay */
.item01:nth-child(1), .item02:nth-child(1) { animation-delay: 0.1s; }
.item01:nth-child(2), .item02:nth-child(2) { animation-delay: 0.2s; }
.item01:nth-child(3), .item02:nth-child(3) { animation-delay: 0.3s; }
.item01:nth-child(4), .item02:nth-child(4) { animation-delay: 0.4s; }
.item01:nth-child(5), .item02:nth-child(5) { animation-delay: 0.5s; }
.item01:nth-child(6), .item02:nth-child(6) { animation-delay: 0.6s; }

/* =============================
   FOOTER
============================= */
footer > p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: whitesmoke;
    font: 1em Rajdhani;
    background: rgba(1, 24, 31, 0.7);
}

/* =============================
   RESPONSIVE
============================= */
@media screen and (max-width: 480px) {
    body {
        background-size: auto 1000px;
    }
}
